@using LivexDevTechnicalAssessment.Entities.ViewModels

@*Our corresponding model that was returned*@
@model IEnumerable<CustomerInventoryModel>

@{
    ViewData["Title"] = "Customer Inventory";
    int count = 1;
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Customer Inventory List</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Inventory</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.Any())
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.InventoryName</td>
                                    <td>@item.Quanity</td>
                                </tr>
                                ++count;
                            }
                        }
                        else
                        {
                            <text>
                                No data available
                            </text>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary btn-md mt-3" onclick="location.href='@Url.Action("Index", "Customer")'" id="">Ok</button>